:root {
  font-size: 18px;
}

body {
  margin: 0;
  color: #090808;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #090808;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav {
  display: inline-block;
  position: relative;
}

.nav:before {
  content: '';
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 0;
  height: 1px;
  background: #090808;
  transition: width 0.3s ease;
}

.nav:hover:before {
  width: 100%;
}

#app {
  padding-bottom: 300px;
}

#app,
.parallax-section > div,
section {
  position: relative;
}

.parallax-section > div,
section {
  z-index: 10;
  overflow: hidden;
}

.intro .intro-content-text,
.parallax-section .label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 0 20px;
}

/* Intro section ==================================================== */

.intro {
  color: #fff;
  background-color: #090808;
  height: 98vh;
}

.intro-image {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-image div {
  color: #fff;
}

.intro-content-text {
  max-width: 36%;
  z-index: 10;
}

/* About ==================================================== */

body.show-about-us {
  overflow: hidden;
}

.about-button {
  position: absolute;
  left: 20px;
  bottom: 50px;
  z-index: 10;
  cursor: pointer;
  font-size: 0.9rem;
  color: #ffffff80;
}

.about-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.show-about-us .about-overlay {
  opacity: 1;
  visibility: visible;
}

.about-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.about-close-button:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: #ffffff;
  transform: rotate(45deg);
}

.about-close-button:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: #ffffff;
  transform: rotate(-45deg);
}

.about-content-text {
  color: #fff;
  padding: 80px 200px 40px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.about-content-text > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.head {
  font-size: 1.33rem;
}

.married {
  color: rgb(225 70 150);
}

/* Portfolio section ==================================================== */

.my-portfolio-1.active .portfolio-present-image > img {
  opacity: 0;
}

.my-portfolio-1 .portfolio-present-block {
  background: url('/firster-bg.webp') no-repeat bottom center / cover fixed;
}

.my-portfolio-2 .portfolio-present-block {
  background: url('/firster-bof-bg.webp') no-repeat bottom center / cover fixed;
}

@supports (-webkit-touch-callout: none) {
  .my-portfolio-1 .portfolio-present-block {
    background: url('/firster-bg.webp') no-repeat bottom center / cover scroll;
  }

  .my-portfolio-2 .portfolio-present-block {
    background: url('/firster-bof-bg.webp') no-repeat bottom center / cover
      scroll;
  }
}

.portfolio-content-block {
  background-color: #f6f2ef;
  display: grid;
  grid-template-columns: 50%;
  justify-content: end;
  padding: 100px 80px 40px;
  overflow: hidden;
}

.portfolio-content-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.portfolio-content-text > div:first-child {
  transform: translateY(200px);
  opacity: 0;
  transition: opacity 1s ease, transform 0.6s ease;
}

.active .portfolio-content-text > div:first-child {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease 0.2s, transform 0.6s ease;
}

.portfolio-content-text > div:nth-child(2) {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 0.3s ease;
}

.active .portfolio-content-text > div:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease 0.25s, transform 0.3s ease 0.25s;
}

.portfolio-content-text > div:nth-child(3) {
  opacity: 0;
  transition: opacity 1s;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 0.3s ease;
}

.active .portfolio-content-text > div:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease 0.4s, transform 0.3s ease 0.4s;
}

.portfolio-present-block {
  height: 800px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.portfolio-present-image {
  width: 60%;
  transform: scale(0);
  box-shadow: -1px -2px 30px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.portfolio-present-image > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-present-image img {
  display: inline-block;
  vertical-align: top;
}

.project-name {
  font-size: 2.7rem;
  margin-left: -3px;
}

.project-description {
  color: #909090;
}

/* My experiences section ==================================================== */

.my-experiences {
  color: #fff;
  background-color: #090808;
}

.experiences-content-block {
  padding: 140px 80px 100px 80px;
  display: grid;
  row-gap: 16px;
}

.experience-content-row {
  padding: 24px 36px;
  border-radius: 10px;
  background-color: #161515;
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 8px;
  color: #b6b6b6;
  opacity: 0;
  transition: opacity 0.8s ease, background-color 0.4s ease;
}

.active .experience-content-row {
  opacity: 1;
}

.active .experience-content-row:nth-child(2) {
  transition: opacity 0.8s ease 0.1s, background-color 0.4s ease;
}

.active .experience-content-row:nth-child(3) {
  transition: opacity 0.8s ease 0.4s, background-color 0.4s ease;
}

.active .experience-content-row:nth-child(4) {
  transition: opacity 0.8s ease 0.7s, background-color 0.4s ease;
}

.active .experience-content-row:nth-child(5) {
  transition: opacity 0.8s ease 1s, background-color 0.4s ease;
}

.experience-content-row:hover {
  background-color: #232323;
}

.experience-content-company-name {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

/* My activities section ==================================================== */

.my-activities {
  height: 100vh;
  background: url('/activities.webp') no-repeat center 70% / cover fixed;
  display: grid;
  grid-template-columns: 46%;
  align-items: center;
  justify-content: end;
  padding-right: 120px;
}

@supports (-webkit-touch-callout: none) {
  .my-activities {
    background: url('/activities.webp') no-repeat center 70% / cover scroll;
  }
}

.my-activities .label {
  font-weight: 500;
}

.activities-content-text {
  position: relative;
  z-index: 10;
  font-weight: 500;
  opacity: 0;
  transition: opacity 1s ease;
}

.active .activities-content-text {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease 0.4s;
}

/* Contact me section ==================================================== */

.contact-me {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 300px;
  background-color: #e6e7e0;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-items: center;
}

.contact-me-content-text {
  font-size: 2.9rem;
  color: #090808;
}
